<?xml version="1.0"?>
<packages>
    <package id="GoogleChrome" />
    <package id="googledrive" />
    <package id="git" />
    <package id="Sublime Text 3" />
    <package id="winrar" />
    <package id="conemu" />
    <package id="libreoffice" />
    <package id="vlc" />
    <package id="jdk8" />
    <package id="gow" />
</packages>
