@charset "utf-8";

.wrapper{
  font-family:"Noto Serif","DejaVu Serif",serif;
}

/*** 1 ヘッダー  ************************************************************************/
.header{
  width:100%; height:50px;
  background-color: #F6F8F8;
  border:1px solid #EBEBEB;
}

/*** 3 フッター  ************************************************************************/
.footer{
  width:100%; height:60px;
  background-color: rgba(0,0,0,.8);
  border:1px solid #EBEBEB;
  color:rgba(255,255,255,.8);
  line-height:1.44;
  clear: both;
}

.last-update-time{
  display:block;
}

/** 2 メイン  *************************************************************************/
.main{
  width:100%;
  background-color: #EFEFEF;
  text-align: center;
}

/** 2.1 メイン包含 **/
.main-container{
  width:70%;
  display: inline-block;
}

/*** 2.1.1 コンテンツ ***/
.content{
  width:100%;
  background-color: #FCFCFC;
  border:1px solid #EBEBEB;
  float: left;
}

.current-path{
  width:80%;
  margin-bottom: 20px;
  border:2px solid #F1F1F1;
  box-shadow: inset 4px 4px 4px #999;
}

.current-path-text {
  font-size: 30px;
  padding: 15px 0;
}

/*** .link-list **************************************************************/
.link-list{
  text-align:left;

  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type:none;
  box-shadow: 1px 2px 3px #ccc;

  border-radius: 5px;        /* CSS3草案 */
  -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 5px;   /* Firefox用 */
}

.link-list li {
    background-color: #FBFAF5;
    border-bottom:1px solid #84b2e0;
    border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
}

.link-list li:hover {
    box-shadow: 5px 6px 7px #ccc;
    background-color:#FDF8EF;
    padding:4px 11px;
}

.link-list a {
  display: block;
  padding:5px 10px;
}




pre {
  text-align:left;
  style="background-color: #F4F4F4;
  padding 10px;
  width:100%;
  box-shadow: 1px 2px 3px #ccc;
}


/*** 2.1.2 サイドメニュー **************************************************************
.side-menu-container{
  width:200px;
  float: left;
  margin-left:20px;

  border:1px solid #84b2e0;
  background-color: #CCCCCC;
}

.side-menu{
  width:100%;
  list-style-type:none;
  background-color: #FFAAAF;

  text-align: center;
}

.side-menu-item{
  background-color: #FBFAF5;
  padding:5px 10px;
  border-bottom:1px solid #84b2e0;
}

.side-menu-item:hover {background-color: red;}
.side-menu-item a {display: block;}
*/

.btn1-size{
  width:140px; height:50px;
  font: 20px;
}
